################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyKho/.vs/QuanLyKho/FileContentIndex/7a292a14-a9ee-43f6-99fe-715257d93a3c.vsidx
